:root {
  --primary-color: #b2744c;
  --secondary-color: #4c8ab2;
  --shade1: #598dbf;
  --shade2: #669ecb;
  --shade3: #73aff8;
  --shade4: #80c0ff;
  --shade5: #8dd0ff;
  --shade6: #9ae0ff;
  --shade7: #a7f0ff;
  --shade8: #b4f9ff;
  --shade9: #c1ffff;
  --shade10: #e9f4f4;
  --pshade1: #b97f63;
  --pshade12: #98705a;
  --pshade13: #b98f74;
  --pshade2: #c28b71;
  --pshade3: #cc967f;
  --pshade4: #d6a08d;
  --pshade5: #e1ab9b;
  --pshade6: #ebb6a9;
  --pshade7: #f5c1b7;
  --pshade8: #ffccc6;
  --pshade9: #ffd6d4;
  --pshade10: #ffe1e2;
  --pshade11: #f8f8f8;
  --pshade14: rgb(246, 242, 242);
}

#team.container {
  text-align: center;
  padding-top: 40px;
}

.header-container {
  position: relative;
  display: inline-block;
}

.header {
  padding-top: 30px;
  color: #444;
  font-size: 34px;
  margin: auto;
  line-height: 50px;
  font-weight: bold;
  display: inline-block;
}

.bubbles {
  position: absolute;
  top: 70%;
  display: flex;
  right: 200%;
  align-items: center;
  transform: translateY(-40%);
}

.bubble {
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);
  border-radius: 50%;
  margin: 0 10px;
  animation: bubble-animation 4s infinite;
}

.bubble:nth-child(2) {
  width: 20px;
  height: 20px;
  animation-duration: 5s;
  transform: rotate(120deg);
}

.bubble:nth-child(3) {
  width: 10px;
  height: 10px;
  animation-duration: 3s;
  transform: rotate(240deg);
}


@keyframes bubble-animation {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateY(-50px);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.description {
  margin: 20px auto;
  font-size: 18px;
  color: #666;
  max-width: 800px;
  line-height: 1.5;
}

.sub-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
}

.teams {
  margin: 20px;
  padding: 52px;
  max-width: 20%;
  cursor: pointer;
  transition: 0.4s;
  box-sizing: border-box;
  display: flex;           
  flex-direction: column;  
  align-items: center;    
  /* margin-left: 5%; */
 
}

.teams:nth-child(1) {
  margin-right: 12%;
}

.teams:nth-child(3) {
  margin-left: 12%;
}


.teams:hover {
  border-radius: 12px;
}

.teams img {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  box-shadow: 0 4px 8px var(--shade1);
  margin-bottom: 10px;  /* Add this line */
}

.name {
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
}

.desig {
  font-style: italic;
  color: #888;
}

.about {
  margin: 20px 0;
  font-weight: lighter;
  color: #4e4e4e;
}

.social-links {
  margin: 14px;
}

.social-links a {
  display: inline-block;
  height: 30px;
  width: 30px;
  transition: .4s;
}

.social-links a:hover {
  transform: scale(1.5);
}

.social-links a i {
  color: #444;
}

@media screen and (max-width: 600px) {
  .teams {
    max-width: 100%;
  }
}

.slider-dots {
  text-align: center;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
  cursor: pointer;
}

.active {
  background-color: #717171;
}

.slider-controls {
  position: relative;
  text-align: center;
}

.prev, .next {
  cursor: pointer;
  background: none;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  color: var(--primary-color);
  font-size: 18px;
  border-radius: 5px;
  margin-top: -37%;
}

.prev:hover, .next:hover {
  background-color: var(--pshade3);
  color: white;
}

.prev {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
}
